body 
{
    padding: 0px;
    border: 0px;
    margin: 0px;
    overflow: hidden;
    position: fixed;
    z-index: 1;
    top: 0px;
    left: 0px;
}

.content
{
    width: 600px;
    background-color: #fdfdfd;
}